<div>
  <h2 id="page-heading" data-cy="SalaMateriaHeading">
    <span ss35Translate="simuSaber3Y5App.salaMateria.home.title">Sala Materias</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ss35Translate="simuSaber3Y5App.salaMateria.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sala-materia"
        [routerLink]="['/sala-materia/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span ss35Translate="simuSaber3Y5App.salaMateria.home.createLabel"> Create a new Sala Materia </span>
      </button>
    </div>
  </h2>

  <ss-35-alert-error></ss-35-alert-error>

  <ss-35-alert></ss-35-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="salaMaterias?.length === 0">
    <span ss35Translate="simuSaber3Y5App.salaMateria.home.notFound">No salaMaterias found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="salaMaterias && salaMaterias.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span ss35Translate="global.field.id">ID</span></th>
          <th scope="col"><span ss35Translate="simuSaber3Y5App.salaMateria.idSala">Id Sala</span></th>
          <th scope="col"><span ss35Translate="simuSaber3Y5App.salaMateria.idMateria">Id Materia</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let salaMateria of salaMaterias; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sala-materia', salaMateria.id, 'view']">{{ salaMateria.id }}</a>
          </td>
          <td>{{ salaMateria.idSala }}</td>
          <td>{{ salaMateria.idMateria }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sala-materia', salaMateria.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" ss35Translate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sala-materia', salaMateria.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" ss35Translate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(salaMateria)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" ss35Translate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
