<form *ngIf="pruebaApoyo" name="deleteForm" (ngSubmit)="confirmDelete(pruebaApoyo.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="pruebaApoyoDeleteDialogHeading" ss35Translate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <ss-35-alert-error></ss-35-alert-error>

    <p
      id="ss-35-delete-pruebaApoyo-heading"
      ss35Translate="simuSaber3Y5App.pruebaApoyo.delete.question"
      [translateValues]="{ id: pruebaApoyo.id }"
    >
      Are you sure you want to delete this Prueba Apoyo?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span ss35Translate="entity.action.cancel">Cancel</span>
    </button>

    <button id="ss-35-confirm-delete-pruebaApoyo" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span ss35Translate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
