<div>
  <h2 id="page-heading" data-cy="DocenteHeading">
    <span ss35Translate="simuSaber3Y5App.docente.home.title">Docentes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ss35Translate="simuSaber3Y5App.docente.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-docente"
        [routerLink]="['/docente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span ss35Translate="simuSaber3Y5App.docente.home.createLabel"> Create a new Docente </span>
      </button>
    </div>
  </h2>

  <ss-35-alert-error></ss-35-alert-error>

  <ss-35-alert></ss-35-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="docentes?.length === 0">
    <span ss35Translate="simuSaber3Y5App.docente.home.notFound">No docentes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="docentes && docentes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span ss35Translate="global.field.id">ID</span></th>
          <th scope="col"><span ss35Translate="simuSaber3Y5App.docente.colegio">Colegio</span></th>
          <th scope="col"><span ss35Translate="simuSaber3Y5App.docente.materia">Materia</span></th>
          <th scope="col"><span ss35Translate="simuSaber3Y5App.docente.ciudad">Ciudad</span></th>
          <th scope="col"><span ss35Translate="simuSaber3Y5App.docente.user">User</span></th>
          <th scope="col"><span ss35Translate="simuSaber3Y5App.docente.docenteMateria">Docente Materia</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let docente of docentes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/docente', docente.id, 'view']">{{ docente.id }}</a>
          </td>
          <td>{{ docente.colegio }}</td>
          <td>{{ docente.materia }}</td>
          <td>{{ docente.ciudad }}</td>
          <td>
            {{ docente.user?.login }}
          </td>
          <td>
            <div *ngIf="docente.docenteMateria">
              <a [routerLink]="['/docente-materia', docente.docenteMateria?.id, 'view']">{{ docente.docenteMateria?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/docente', docente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" ss35Translate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/docente', docente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" ss35Translate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(docente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" ss35Translate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
