<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="ss-35-estudiante-heading"
        data-cy="EstudianteCreateUpdateHeading"
        ss35Translate="simuSaber3Y5App.estudiante.home.createOrEditLabel"
      >
        Create or edit a Estudiante
      </h2>

      <div>
        <ss-35-alert-error></ss-35-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" ss35Translate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" ss35Translate="simuSaber3Y5App.estudiante.grado" for="field_grado">Grado</label>
          <input type="text" class="form-control" name="grado" id="field_grado" data-cy="grado" formControlName="grado" />
          <div *ngIf="editForm.get('grado')!.invalid && (editForm.get('grado')!.dirty || editForm.get('grado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('grado')?.errors?.required" ss35Translate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('grado')?.errors?.maxlength"
              ss35Translate="entity.validation.maxlength"
              [translateValues]="{ max: 256 }"
            >
              This field cannot be longer than 256 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ss35Translate="simuSaber3Y5App.estudiante.colegio" for="field_colegio">Colegio</label>
          <input type="text" class="form-control" name="colegio" id="field_colegio" data-cy="colegio" formControlName="colegio" />
          <div *ngIf="editForm.get('colegio')!.invalid && (editForm.get('colegio')!.dirty || editForm.get('colegio')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('colegio')?.errors?.required"
              ss35Translate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('colegio')?.errors?.maxlength"
              ss35Translate="entity.validation.maxlength"
              [translateValues]="{ max: 256 }"
            >
              This field cannot be longer than 256 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ss35Translate="simuSaber3Y5App.estudiante.fechaNacimiento" for="field_fechaNacimiento"
            >Fecha Nacimiento</label
          >
          <div class="input-group">
            <input
              id="field_fechaNacimiento"
              data-cy="fechaNacimiento"
              type="text"
              class="form-control"
              name="fechaNacimiento"
              ngbDatepicker
              #fechaNacimientoDp="ngbDatepicker"
              formControlName="fechaNacimiento"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ss35Translate="simuSaber3Y5App.estudiante.ciudad" for="field_ciudad">Ciudad</label>
          <input type="text" class="form-control" name="ciudad" id="field_ciudad" data-cy="ciudad" formControlName="ciudad" />
          <div *ngIf="editForm.get('ciudad')!.invalid && (editForm.get('ciudad')!.dirty || editForm.get('ciudad')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ciudad')?.errors?.required"
              ss35Translate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ciudad')?.errors?.maxlength"
              ss35Translate="entity.validation.maxlength"
              [translateValues]="{ max: 256 }"
            >
              This field cannot be longer than 256 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ss35Translate="simuSaber3Y5App.estudiante.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label ss35Translate="simuSaber3Y5App.estudiante.sala" for="field_salas">Sala</label>
          <select class="form-control" id="field_salas" data-cy="sala" multiple name="salas" formControlName="salas">
            <option
              [ngValue]="getSelectedSala(salaOption, editForm.get('salas')!.value)"
              *ngFor="let salaOption of salasSharedCollection; trackBy: trackSalaById"
            >
              {{ salaOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" ss35Translate="simuSaber3Y5App.estudiante.estudianteSala" for="field_estudianteSala"
            >Estudiante Sala</label
          >
          <select
            class="form-control"
            id="field_estudianteSala"
            data-cy="estudianteSala"
            name="estudianteSala"
            formControlName="estudianteSala"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                estudianteSalaOption.id === editForm.get('estudianteSala')!.value?.id
                  ? editForm.get('estudianteSala')!.value
                  : estudianteSalaOption
              "
              *ngFor="let estudianteSalaOption of estudianteSalasSharedCollection; trackBy: trackEstudianteSalaById"
            >
              {{ estudianteSalaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span ss35Translate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span ss35Translate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
